<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!-- Bootstrap import -->
    <link rel="stylesheet" type="text/css" href="../static/bootstrap-3.3.7-dist/css/bootstrap.min.css">

    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="../static/css/standing.css">
    <link rel="stylesheet" type="text/css" href="../static/css/toolbar_standing_page.css">

     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-3.3.7-dist/css/bootstrap.min.css') }}">

    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/standing.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/toolbar_standing_page.css') }}"> 
  </head>
  <body>
    <div id="body">
      <!-- Area1 begin -->
        <div id="area1" class="bd-pageheader">
          <div class="container">
            <div class="row center">
              <div class="col-xs-12">
                <div class="row timer">
                  <div class="col-xs-12">
                    <div class="row counter">
                      <div class="col-xs-3">JJ</div>
                      <div class="col-xs-offset-1 col-xs-2">HH</div>
                      <div class="col-xs-offset-1 col-xs-2">MM</div>
                      <div class="col-xs-offset-1 col-xs-2">SS</div>
                    </div>
                  </div>
                  <div class="col-xs-12">
                    <div class="row tags">
                      <div class="col-xs-3">days</div>
                      <div class="col-xs-offset-1 col-xs-2">hours</div>
                      <div class="col-xs-offset-1 col-xs-2">min.</div>
                      <div class="col-xs-offset-1 col-xs-2">sec.</div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-xs-offset-5 col-xs-2 swipe">
                <span class="glyphicon glyphicon-menu-down">\okok/</span>
              </div>
            </div>
          </div>
        </div>
      <!-- Area1 end -->
      <!-- Area2 begin -->
        <div id="area2" class="bd-pageheader">
          <!-- Header begin -->
            <header>
              <div id="header">
                <div class="container">
                  <div class="row">
                    <div id="logo" class="col-xs-3">
                      LOGO
                    </div>
                    <nav class="col-xs-9">
                      <div class="visible-sm visible-xs">
                        <span class="glyphicon glyphicon-menu-hamburger" ></span>
                      </div>
                      <div class="list hidden-sm hidden-xs">
                        <ul class="list-inline">
                          <li class="list-inline-item"><a href="/">Home</a></li>
                          <li class="list-inline-item"><a href="/about">About</a></li>
                          <li class="list-inline-item"><a href="../html/signup.html">Sign Up</a></li>
                        </ul>
                      </div>
                    </nav>
                  </div>
                </div>
              </div>
            </header>
          <!-- Header end -->
          <div class="sub-area2 container">
            <div class="row">
              <div class="col-xs-12">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  <br /><br /><br /><br />
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  <br /><br /><br /><br />
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  <br /><br /><br /><br />
                </p>
              </div>
            </div>
          </div>
          <!-- Footer begin -->
            <footer>
              <div class="container">
                <div class="row">
                  <p class="col-xs-12">
                    LOGO     © 2017 TellingMore Inc. - All rights reserved.
                  </p>
                </div>
              </div>
            </footer>
          <!-- Footer end -->
        </div>
      <!-- Area2 end -->
    </div>
  </body>
</html>
